In [7]:
from __future__ import division
import pandas as pd
import numpy as np

In [25]:
import warnings
warnings.filterwarnings('ignore')

In [26]:
from sklearn.preprocessing import StandardScaler
from sklearn.cross_validation import KFold
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier as RF
from sklearn.neighbors import KNeighborsClassifier as KNN

In [6]:
churn_df = pd.read_csv('C:\\Users\\beefm\\Jupyter\\Jupyter Notebooks\\Ziff\\Handles_1\\churn_data.csv')

In [8]:
import os
print(os.getcwd())

C:\Users\beefm\Jupyter\Jupyter Notebooks\Ziff\Handles_1

In [11]:
churn_df.head(10)

,Unnamed: 0,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,1,KS,128,area_code_415,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,no
1,2,OH,107,area_code_415,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,no
2,3,NJ,137,area_code_415,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,no
3,4,OH,84,area_code_408,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,no
4,5,OK,75,area_code_415,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,no
5,6,AL,118,area_code_510,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,no
6,7,MA,121,area_code_510,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,no
7,8,MO,147,area_code_415,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,no
8,9,LA,117,area_code_408,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,no
9,10,WV,141,area_code_415,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,no

In [13]:
churn_df.columns

Index(['Unnamed: 0', 'state', 'account_length', 'area_code',
       'international_plan', 'voice_mail_plan', 'number_vmail_messages',
       'total_day_minutes', 'total_day_calls', 'total_day_charge',
       'total_eve_minutes', 'total_eve_calls', 'total_eve_charge',
       'total_night_minutes', 'total_night_calls', 'total_night_charge',
       'total_intl_minutes', 'total_intl_calls', 'total_intl_charge',
       'number_customer_service_calls', 'churn'],
      dtype='object')

In [14]:
col_names = churn_df.columns.tolist()

In [18]:
print("Column names:")

Column names:

In [17]:
print(col_names)

['Unnamed: 0', 'state', 'account_length', 'area_code', 'international_plan', 'voice_mail_plan', 'number_vmail_messages', 'total_day_minutes', 'total_day_calls', 'total_day_charge', 'total_eve_minutes', 'total_eve_calls', 'total_eve_charge', 'total_night_minutes', 'total_night_calls', 'total_night_charge', 'total_intl_minutes', 'total_intl_calls', 'total_intl_charge', 'number_customer_service_calls', 'churn']

In [20]:
to_show = col_names[:6] + col_names[-6:]

In [22]:
print("//nSample data:")

//nSample data:

In [23]:
churn_df[to_show].head(6)

,Unnamed: 0,state,account_length,area_code,international_plan,voice_mail_plan,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,1,KS,128,area_code_415,no,yes,11.01,10.0,3,2.70,1,no
1,2,OH,107,area_code_415,no,yes,11.45,13.7,3,3.70,1,no
2,3,NJ,137,area_code_415,no,no,7.32,12.2,5,3.29,0,no
3,4,OH,84,area_code_408,yes,no,8.86,6.6,7,1.78,2,no
4,5,OK,75,area_code_415,yes,no,8.41,10.1,3,2.73,3,no
5,6,AL,118,area_code_510,yes,no,9.18,6.3,6,1.70,0,no

In [28]:
churn_result = churn_df['churn']
y = np.where(churn_result == 'yes',1,0)

In [29]:
to_drop = ['Unnamed: 0','state','area_code','churn']
churn_feat_space = churn_df.drop(to_drop,axis=1)

In [30]:
yes_no_cols = ["international_plan","voice_mail_plan"]
churn_feat_space[yes_no_cols] = churn_feat_space[yes_no_cols] == 'True'

In [31]:
features = churn_feat_space.columns

In [36]:
X = churn_feat_space.as_matrix().astype(np.float)

In [37]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [38]:
print("Feature space holds %d observations and %d features" % X.shape)

Feature space holds 3333 observations and 17 features

In [39]:
print("Unique target labels:", np.unique(y))

Unique target labels: [0 1]

In [41]:
def run_cv(X,y,clf_class,**kwargs):
    kf = KFold(len(y),n_folds=10,shuffle=True)
    y_pred = y.copy()

In [44]:
for train_index, test_index in kf:
        X_train, X_test = X[train_index], X[test_index]
        y_train = y[train_index]
        clf = clf_class(**kwargs)
        clf.fit(X_train,y_train)
        y_pred[test_index] = clf.predict(X_test)
    return y_pred

IndentationError: unindent does not match any outer indentation level (<ipython-input-44-332e891f0a51>, line 7)

In [46]:
def accuracy(y_true,y_pred):
    return np.mean(y_true == y_pred)

In [50]:
print("Support vector machines:")
print("%.3f" % accuracy(y, run_cv(X,y,SVC)))

Support vector machines:
0.000

In [51]:
print("Random forest:")
print("%.3f" % accuracy(y, run_cv(X,y,RF)))

Random forest:
0.000

In [52]:
print("K-nearest-neighbors:")
print("%.3f" % accuracy(y, run_cv(X,y,KNN)))

K-nearest-neighbors:
0.000